div(
  ng-if="event.type == 'memberRegistration'"
  ng-class="{ completed: vm.events.members.length, expanded: vm.expanded['Project Launched'] }"
)
  section.checkpoint
    .progress
      .percent 35%

      .status Complete

      .day Day 1

    .lead

    .point.icon

    .lead-after

    p
      .carat

      span {{ event.members.length }} member(s) have joined.

  .expandable-content
    button(type="button").clean.close &times;

    ul
      li(ng-repeat="member in event.members track by $index")
        avatar(url="{{ member.avatarUrl }}")

        a {{ member.handle }} 

        | joined the project.