li(
  ng-class="{ completed: vm.events.assignCopilot.created, passed: vm.events.quote.created, expanded: 1 }"
)
  section.checkpoint
    .progress
      .percent 5%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.events.assignCopilot.created") Assign Co-Pilot

    label(ng-show="vm.events.confirmEmail.created && !vm.events.assignCopilot.created") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="vm.events.assignCopilot.created") Co-Pilot Assigned
      time {{ vm.events.assignCopilot.created }}

  .avatar-box(ng-show="vm.events.assignCopilot.avatar")
    avatar(url="{{ vm.events.assignCopilot.avatar }}")

    | Hi I'm 

    a(href="#") {{ vm.events.assignCopilot.handle }}

    |. I'll be your project manager.