li(
  ng-if="event.type == 'copilotAssigned' "
  ng-class="{ completed: event.eventTime, expanded: 1 }"
)
  section.checkpoint
    .progress
      .percent 5%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    p(ng-hide="event.eventTime") Assign Co-Pilot

    ul.headings
      li
        p(ng-show="event.eventTime") Co-Pilot Assigned

      li
        time {{ event.eventTime }}

  .avatar-box(ng-show="event.copilot.handle")
    avatar(url="{{ event.copilot.avatarUrl }}")

    | Hi I'm 

    a(href="#") {{ event.copilot.handle }}

    |. I'll be your project manager.