li(
  ng-class="{ completed: vm.events.confirmEmail.created}"
  ng-if="event.type == 'EMAIL_CONFIRMED' "
)
  section.checkpoint
    .progress
      .percent 6%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    p(ng-hide="vm.events.confirmEmail.created") {{event.text}}