li(
  ng-if="event.type == 'PAYMENT_ACCEPTED' "
)
  section.checkpoint
    .progress
      .percent 20%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    p(ng-hide="vm.events.paymentAccepted.created") {{event.text}}
