li(
  ng-class="{ completed: vm.events.paymentAccepted.created, passed: vm.events.launch.created }"
  ng-show="vm.expanded.submitted"
)
  section.checkpoint
    .progress
      .percent 20%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    p(ng-hide="vm.events.paymentAccepted.created") Add Payment Method

    p(ng-show="vm.events.paymentAccepted.created") Payment Method Accepted.
