li.quote(
  ng-if="event.type == 'QUOTE_INFO' "
  ng-class="{ completed: event.eventTime}"
)
  section.checkpoint
    .progress
      .percent 15%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    p(ng-hide="event.eventTime") Generate Quote

    p(ng-show="event.eventTime")
      .carat

      | Quote has been generated.

  p(ng-show="event.status != 'Accepted' ")
    a(href="#") View quote and pay to continue.

  .expandable-content
    button(type="button").clean.close x

    ul
      li
        label Cost:
        | 
        | ${{ event.price }}

      li
        label Time:
        | 
        | {{ event.duration }} Days

    ul
      li.accept
        button Accept

      li
        button Reject