li.submissions.completed.no-progress
  section.checkpoint
    a(href="{{ vm.events.designConcepts.submissionUrl }}")
      button.point.count.clean(ng-click="vm.showMessagingWidget = true" title="download files")
        .icon.download.smallest

    .lead-after

    ul.avatars
      li(ng-repeat="avatarUrl in vm.events.designConcepts.submissionAvatars track by $index")
        avatar(avatar-url="{{ avatarUrl }}")

  p {{ vm.events.designConcepts.submissionAvatars.length }} people have submitted design concepts to your project.

  p
    a(href="#") View all submissions