li.submissions.completed.no-progress(ng-if="event.type == 'userAvatars' ")
  section.checkpoint
    a(href="#")
      button.point.count.clean(ng-click="vm.showMessagingWidget = true" title="download files")
        .icon.download.smallest

    .lead-after

    ul.avatars
      li(ng-repeat="avatarUrl in event.avatars track by $index")
        avatar(avatar-url="{{ avatarUrl }}")

  p {{ event.avatars.length }} people have submitted design concepts to your project.

  p
    a(href="#") View all submissions