li.winners.completed.no-progress.passed
  section.checkpoint
    .point

    .lead-after

    label Congratulations you have confirmed your winners for the final design phase.

  ul.avatars
    li(ng-repeat="avatar in vm.events.finalDesigns.winnerAvatars track by $index")
      avatar(avatar-url="{{ avatar }}")