li.winners.completed.no-progress(
  ng-show="vm.expanded.designConcepts"
)
  section.checkpoint
    .point

    .lead-after

    label Congratulations! You have confirmed your winners for the design concepts phase.

  ul.avatars
    li(ng-repeat="avatar in vm.events.designConcepts.winnerAvatars track by $index")
      avatar(avatar-url="{{ avatar }}")