li.winners.completed.no-progress.passed
  section.checkpoint
    .point

    .lead-after

    label Congratulations you have confirmed your winners for the final design phase.

  ul.winners
    li
      avatar(ng-src="{{ submisison['avatar'] }}")
    li
      avatar(ng-src="{{ submisison['avatar'] }}")
    li
      avatar(ng-src="{{ submisison['avatar'] }}")
    li
      avatar(ng-src="{{ submisison['avatar'] }}")
    li
      avatar(ng-src="{{ submisison['avatar'] }}")