li.winners.completed.no-progress
  section.checkpoint
    .point

    .lead-after

    p Congratulations! You have confirmed your winners for the design concepts phase.

  ul.avatars
    li(ng-repeat="avatar in vm.events.designConcepts.winnerAvatars track by $index")
      avatar(avatar-url="{{ avatar }}")