@import "work-includes";

.layout-main.timeline {
  ul li.messages {
    section.checkpoint {
      label .message {
        max-width: 200px;
      }
    }

    textarea {
      padding  : 4px;
      width    : 100%;
      max-width: 300px;
      display  : inline-block;
    }

    button {
      background-color: blue;
      height          : 30px;
      color           : white;
      display         : inline-block;
      vertical-align  :  top;
    }
  }
}