@import "work-includes";
@import "variables";

.layout-main.timeline {
  background-color: #E6E1E1;
  padding         : 15px 20px;

  .avatar-box {
    padding: 4px;
    display: table;

    @include vertical-align-middle();

    .avatar {
      width         : 35px;
      height        : 35px;
      border        : 1px solid grey;
      border-radius : 35px;
      margin-right  : 6px;
    }

    p {
      width         : 240px;
    }
  }

  > ul {
    position : relative;

    > li {
      border-left   : $timeline-width solid grey;
      color         : grey;
      padding-bottom: $point-width;
      margin-left   : $head-width-big;
      display       : block;

      // this will be used to hide the extra borders
      &::before, &:last-child::after {
        content         : "";
        position        : absolute;
        width           : $timeline-width;
        margin-left     : -$timeline-width;
        height          : $point-width;
        background-color: grey;
        z-index         : 0;
      }

      &:first-child::before, &:last-child::after {
        background-color: white !important;
      }

      &:last-child::after {
        height: $point-width / 2;
      }

      &:last-child {
        padding-bottom: 0;

        &::after {
          margin-top: -10px;
        }
      }

      .checkpoint {
        overflow  : hidden;

        @include transition (all 0.2s ease-in-out);

        &:focus {
          background-color: red;
        }

        margin-left: -$head-width;
        z-index    : 1;
        position   : relative;

        > * {
          display       : inline-block;
          vertical-align: middle;
        }

        .progress, .lead {
          display: none;
        }

        .lead-after {
          border-top   : $lead-after-width solid transparent;
          border-bottom: $lead-after-width solid transparent;
          border-right : $lead-after-width solid blue;
          margin-left  : $spacing;
          visibility   : hidden;
        }

        .point {
          width           : $point-width;
          height          : $point-width;
          line-height     : $point-width - ($point-border-width * 2);
          border          : $point-border-width solid white;
          border-radius   : 50%;
          background-color: grey;
          text-align      : center;
          color           : #fff;

          .info {
            display: none;
          }
        }

        label {
          width: 65%;

          @include ellipsis(65%);

          h4 {
            font-size: 20px;
            display  : inline-block;
            width    :  50%;
          }

          time {
            width     : 50%;
            text-align: right;
            display: none;
          }
        }
      }

      > *:nth-child(n + 2) {
        display: block;
        margin-left: $spacing + $lead-after-width + ($point-width/2);
        margin-top: 10px;
      }

      > hr:nth-child(n + 2) {
        background-color: #ccc;
        margin-top: 0;
      }

      &.expanded {
        display: block;
      }

      &.milestone {
        display: block;

        .checkpoint {
          margin-left: -$head-width-big;

          .lead-after {
            margin-left: $spacing - ($big-point-width/2 - $point-width/2);
          }
        }

        .point {
          width       : $big-point-width;
          height      : $big-point-width;
          border-width: $big-point-border-width;

          &:before {
            content: '‐';
            line-height: $big-point-width - ($big-point-border-width * 2);
            font-size: 30px;
          }
        }

        &.expanded {
          .point {
            &:before {
              content: '+';
            }
          }
        }
      }

      &.passed {
        border-color: green;
      }

      &.completed {
        &::before {
          background-color: green;
        }

        .point {
          background-color: green;

          &.notification {
            background-color: red;
            color: white;
          }
        }

        .progress {
          .percent {
            color: green;
          }
        }
      }

      &.no-progress {
        .checkpoint {
          margin-left: -$head-width;
        }
      }

      &.info {
        .checkpoint {
          .point {
            background-color: blue;

            .info {
              display: block;
            }
          }

          .lead-after {
            visibility: visible;
          }

          label {
            padding: 5px;
          }
        }

        a {
          color: blue;
        }

        label {
          background-color: blue;
          color           : white;
        }
      }
    }
  }
}
