- var examples = []
- examples.push('constants')
- examples.push('example.module')
- examples.push('routes')
- examples.push('example-templates')

- var scripts = []
- scripts.push('timeline.module')
- scripts.push('templates')
- scripts.push('timeline.directive')
- scripts.push('timeline.controller')
- scripts.push('image-slide-container.controller')
- scripts.push('image-slide-container.directive')
- scripts.push('image-slideshow-modal.controller')
- scripts.push('image-slideshow-modal.directive')

- var bowers = []
- bowers.push('zepto/zepto')
- bowers.push('react/react')
- bowers.push('react/react-dom')
- bowers.push('react-input-autosize/dist/react-input-autosize')
- bowers.push('react-select/dist/react-select')
- bowers.push('angular/angular')
- bowers.push('ngReact/ngReact')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('moment/moment')
- bowers.push('angular-scroll/angular-scroll')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"
