li.milestone(ng-class="{ completed: vm.checkpoint1.completed, passed: vm.checkpoint1.passed }")
  section.checkpoint
    .progress
      .percent 50%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label Checkpoint 1