li(ng-class="{ completed: vm.coPilot.completed, passed: vm.coPilot.passed }")
  section.checkpoint
    .progress
      .percent 5%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-show="!vm.payment.completed && !vm.coPilot.completed") Assign Co-Pilot

    label(ng-show="vm.coPilot.completed") Co-Pilot Assigned
