li(ng-class="{ completed: vm.coPilot.completed, passed: vm.coPilot.passed }")
  section.checkpoint
    .progress
      .percent 22%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.payment.completed || vm.coPilot.completed") Assign Co-Pilot

    label(ng-hide="vm.coPilot.completed") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="vm.coPilot.completed") Co-Pilot Assigned

  .avatar-box(ng-show="vm.coPilot.completed")
    img.avatar(src="{{ vm.avatars[vm.coPilotHandle] }}")

    span Hi I'm 

    a(href="#") {{ vm.coPilotHandle }}

    span . I'll be your project manager.