li(
  ng-class="{ completed: vm.completed.coPilot, passed: vm.passed.coPilot, expanded: vm.expanded.submitted }"
)
  section.checkpoint
    .progress
      .percent 5%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-show="!vm.completed.payment && !vm.completed.coPilot") Assign Co-Pilot

    label(ng-show="!vm.completed.payment && vm.completed.coPilot") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="vm.completed.coPilot") Co-Pilot Assigned

  .avatar-box(ng-show="vm.completed.coPilot")
    img.avatar(src="{{ vm.avatars[vm.coPilotHandle] }}")

    span Hi I'm 

    a(href="#") {{ vm.coPilotHandle }}

    span . I'll be your project manager.