li.comment.messages.no-progress.completed
  section.checkpoint
    .point.comment.icon
      button.count.clean(ng-click="vm.showMessagingWidget = true") 6
        .notification 6

    .lead-after

    label
      img.avatar(ng-src="{{ vm.avatars[member.handle] }}")

      | Batman99 commented on project requirements
