li.milestone(ng-class="{ completed: vm.completed.completed, passed: vm.completed.passed }")
  section.checkpoint
    .progress
      .percent 100%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label Project Complete
