li(ng-class="{ completed: vm.email.completed, passed: vm.email.passed, info: !vm.email.completed }")
  section.checkpoint
    .progress
      .percent 6%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label(ng-hide="vm.email.completed") We sent an email to johndoe@example.com. <br /> Click the link in the email to verify your email address.

    label(ng-show="vm.email.completed") Thanks! Your email is verified.

  a.resend(href="#", ng-hide="vm.email.completed") Re-send Email