li(ng-class="{ completed: vm.completed.feedback, passed: vm.passed.feedback }")
  section.checkpoint
    .progress
      .percent 65%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.feedback") Give Feedback?

    label(ng-show="vm.completed.feedback") Feedback given to 

      a(href="#") {{ vm.feedbackHandle }}
