li.no-progress.completed(ng-show="vm.finalistsSelected.completed", ng-class="{ passed: vm.finalistsSelected.passed }")
  section.checkpoint
    .point

    .lead-after

    label You selected 4 finalists
