li.milestone(ng-class="{ completed: vm.finalDesign.completed, passed: vm.finalDesign.passed }")
  section.checkpoint
    .progress
      .percent 70%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label Final Design Phase