li(ng-class="{ completed: vm.finalFeedback.completed, passed: vm.finalFeedback.passed }")
  section.checkpoint
    .progress
      .percent 95%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label(ng-hide="vm.finalFeedback.completed") Final Feedback

    label(ng-show="vm.finalFeedback.completed") Feedback given to 

      a(href="#") {{ vm.feedback2Handle }}

  p(ng-show="vm.finalFeedback.completed && !vm.complete.completed") Awaiting final design changes.