li.milestone(ng-class="{ completed: vm.finalists.completed, passed: vm.finalists.passed }")
  section.checkpoint
    .progress
      .percent 50%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label Select Finalists

  a(href="", ng-show="vm.finalists.completed && !vm.finalistsSelected.completed") View submissions and select finalists
