li(
  ng-class="{ completed: vm.completed.joined, passed: vm.passed.joined, expanded: vm.expanded.launched }"
)
  section.checkpoint
    .progress
      .percent 35%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.coPilot") Meet others

    label(ng-show="vm.completed.coPilot") {{ vm.members.length }} member(s) have joined.


