li.no-progress(ng-class="{ completed: vm.joined.completed, passed: vm.joined.passed }")
  section.checkpoint
    .point

    .lead-after

    label(ng-hide="vm.coPilot.completed") Meet others

    label(ng-show="vm.coPilot.completed") Members have joined the project.

  .avatar-box(ng-show="vm.coPilot.completed")
    img.avatar(src="{{ vm.avatars[vm.members[vm.members.length - 1]] }}")

    span <a href="#">{{ vm.members[vm.members.length - 1] }}</a> 

    span(ng-show="vm.members.length > 1") and {{ vm.members.length }} others

    span have joined the project.
