li(ng-class="{ completed: vm.joined.completed, passed: vm.joined.passed }")
  section.checkpoint
    .progress
      .percent 35%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.coPilot.completed") Meet others

    label(ng-show="vm.coPilot.completed") {{ vm.members.length }} member(s) have joined.


