li.milestone(ng-class="{ completed: vm.launched.completed, passed: vm.launched.passed }")
  section.checkpoint
    .progress
      .percent 25%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label Project Launched
