li.milestone(
  ng-class="{ completed: vm.completed.launched, passed: vm.passed.launched, expanded: vm.expanded.launched }"
  ng-click="vm.expanded.launched = !vm.expanded.launched"
)
  section.checkpoint
    .progress
      .percent 25%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label
      h4 Project Launched

      time May 5, 2015

  hr