li.notification.messages.no-progress.completed(ng-show="vm.showMessages")
  section.checkpoint
    .point(ng-class="{'notification': vm.unreadCount > 0}")
      button.count.clean(ng-click="vm.showMessagingWidget = true" title="You have {{ vm.unreadCount }} new messages.") {{ vm.unreadCount }}

      .tooltip(ng-class="{active: vm.showMessagingWidget}")
        button.clean.close(ng-click="vm.showMessagingWidget = false") x

        messaging.widget(thread-id="{{ vm.threadId }}")

    .lead-after

    label Messages

  ul.links
    li
      button.clean(ng-click="vm.showMessagingWidget = true") View

    li
      a(ui-sref="messaging({ id: vm.threadId })") View full thread
