li(ng-class="{ completed: vm.payment.completed, passed: vm.payment.passed }")
  section.checkpoint
    .progress
      .percent 20%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.payment.completed") Add Payment Method

    label(ng-show="vm.payment.completed") Payment Method Accepted.
