li(ng-class="{ completed: vm.quote.completed, passed: vm.quote.passed }")
  section.checkpoint
    .progress
      .percent 15%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.quote.completed") Generate Quote

    label(ng-show="vm.quote.completed") Quote has been generated.

  .quote(ng-show="vm.quote.completed && !vm.quoteAccepted.completed")
    .cost
      label cost:

      span.price ${{ vm.quotedAmount }}

    .time
      label time:

      span.time 21 days

    button(ng-click="vm.acceptQuote()") accept

    button reject