li(ng-class="{ completed: vm.completed.quote, passed: vm.passed.quote}")
  section.checkpoint
    .progress
      .percent 15%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.quote") Generate Quote

    label(ng-show="vm.completed.quote") Quote has been generated.

  p(ng-show="vm.completed.quote && !vm.completed.payment")
    a(href="#") View quote and pay to continue.

  p(ng-show="vm.completed.quote && !vm.completed.payment")
    em Co-Pilot will not be assigned until your payment has been approved.