li.submissions(ng-class="{ completed: vm.completed.submissions, passed: vm.passed.submissions }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 8

    .lead

    .point.icon

    .lead-after

    label
      img.avatar(ng-src="{{ vm.avatars[member.handle] }}")

      | Batman99 submitted files to your project.

