li.milestone(ng-class="{ completed: vm.completed.checkpoint1, passed: vm.passed.checkpoint1 }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label
      h4 Submissions Due

      time May 5, 2015

  hr