li.milestone.completed.passed(
  ng-class="{ completed: vm.submitted.completed, expanded: vm.expanded.submitted }"
  ng-click="vm.expanded.submitted = !vm.expanded.submitted"
)
  section.checkpoint
    .progress
      .percent 0%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label
      h4 Project Submitted

      time {{ vm.submitted.completed | date }}

  hr
