li.submissions(ng-class="{ completed: vm.submissions.completed, passed: vm.submissions.passed }")
  section.checkpoint
    .progress
      .percent 30%

      .status Complete

      .day Day 8

    .lead

    .point

    .lead-after

    label(ng-hide="vm.submissions.completed") Recieve submissions

    label(ng-show="vm.submissions.completed") Updates from Appulous9000

  time.time(ng-show="vm.submissions.completed") 12:30pm April 5 2015

  a.view-details(href="3")(ng-show="vm.submissions.completed") View Submission Details

  ul(ng-show="vm.submissions.completed")
    li

    li

    li

    li
