li.submissions(ng-class="{ completed: vm.submissions.completed, passed: vm.submissions.passed }")
  section.checkpoint
    .progress
      .percent 30%

      .status Complete

      .day Day 8

    .lead

    .point

    .lead-after

    label(ng-hide="vm.submissions.completed") Recieve submissions

    label(ng-show="vm.submissions.completed") Updates from {{ vm.submissionHandle }}

  time.time(ng-show="vm.submissions.completed") {{ vm.submissions.completed | date }}

  a.view-details(href="3", ng-show="vm.submissions.completed") View Submission Details

  ul(ng-show="vm.submissions.completed")
    li(ng-repeat="submissionThumb in vm.submissionThumbs")
      img(ng-src="{{ submissionThumb }}")
