li.submissions(ng-class="{ completed: vm.submissions.completed, passed: vm.submissions.passed }")
  section.checkpoint
    .progress
      .percent 30%

      .status Complete

      .day Day 8

    .lead

    .point

    .lead-after

    label(ng-hide="vm.submissions.completed") Recieve submissions

    label(ng-show="vm.submissions.completed") Submission Recieved from 

      a(href="#") {{ vm.submissionHandle }} 

      time.time(ng-show="vm.submissions.completed") {{ vm.submissions.completed #{dateFilter} }}

  ul(ng-show="vm.submissions.completed")
    li(ng-repeat="submissionThumb in vm.submissionThumbs")
      img(ng-src="{{ submissionThumb }}")
