li.submissions(ng-class="{ completed: vm.completed.submissions, passed: vm.passed.submissions }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 8

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.submissions") Recieve submissions

    label(ng-show="vm.completed.submissions") Submission Recieved from 

      a(href="#") {{ vm.submissionHandle }} 

      time.time(ng-show="vm.completed.submissions") {{ vm.completed.submissions #{dateFilter} }}

