@import "work-includes";

event-card.comments {
  display: block;

  .header {
    width: 100%;

    avatar {
      margin-left: $margin-smallest;
    }

    .name {
      text-align: left;
      margin-left: $margin-smallest;

      p {
        margin-top: 0;
      }

      .role {
        color: $neutral-color;
      }
    }
  }

  > main {
    @include transition (all 0.3s ease-in-out);

    max-height: 0;
    overflow: hidden;
  }

  &.expanded {
    > main {
      max-height: 500px;
    }
  }

  .submissions {
    margin-top: $margin-small;

    li {
      margin: 0 $margin-smallest;
      position: relative;
    }

    .img {
      width: 180px;
      height: 180px;
      background-color: purple;
    }
  }


  > button {
    display: block;
    margin: 0 auto;
    margin-top: $margin-small;
  }
}
