@import "work-includes";

timeline-status-report,
timeline-final-deliverables,
timeline-quote,
timeline-copilot {
  display: block;

  > main {
    @include transition (all 0.2s ease-in-out);

    max-height: 0px;
    margin-top: $margin-smallest;
    overflow  : hidden;
  }
}

timeline-copilot, timeline-quote {
  &.expanded {
    > main {
      max-height: 100px;
    }
  }
}

timeline-status-report, timeline-final-deliverables {
  > ul {
    margin-top: $margin-small;

    li {
      margin: 0 $margin-smallest;
    }

    .img {
      width: 180px;
      height: 180px;

      background-color: purple;
    }
  }

  > button, > button.action {
    margin: $margin-small $margin-smallest 0 $margin-smallest;
  }
}

timeline-members, timeline-submissions, timeline-winners {
  > ul {
    @include transition (all 0.3s ease-in-out);

    max-height: 0;
    overflow: hidden;
  }

  &.expanded {
    > ul {
      max-height: 100px;
    }
  }
}

timeline-select-winners {
  > main {
    @include transition (all 0.3s ease-in-out);

    max-height : 0;
    overflow   : hidden;
    padding-top: $padding;
  }

  &.expanded {
    > main {
      max-height: 50px;
    }
  }
}
