@import "work-includes";

timeline-status-report,
timeline-final-deliverables,
timeline-quote,
timeline-copilot {
  display: block;

  > main {
    margin-top: $margin-smallest;
  }
}

timeline-status-report, timeline-final-deliverables {
  > ul {
    margin-top: $margin-small;

    li {
      margin: 0 $margin-smallest;
    }
  }

  > button, > button.action {
    margin: $margin-small $margin-smallest 0 $margin-smallest;
  }
}

timeline-members, timeline-submissions, timeline-winners {
  > ul {
    @include transition (all 0.3s ease-in-out);

    max-height: 0;
    overflow: hidden;
  }
}

timeline-select-winners {
  > main {
    @include transition (all 0.3s ease-in-out);

    max-height : 0;
    overflow   : hidden;
    padding-top: $padding;
  }
}
