@import "work-includes";
@import "variables";

timeline {
  li.messages {
    .links {
      button {
        text-decoration: underline;
        color: blue;
      }
    }

    ul.links {
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

}
