@import "work-includes";

event-card.messaging {
  display: block;

  main {
    padding-top: 30px;

    hr {
      margin-top: 20px;
    }
  }

  .header {
    width: 100%;

    avatar {
      margin-left: $margin-small;
    }

    .name {
      text-align: left;
      margin-left: $margin-small;

      p {
        margin-top: 0;
      }

      .role {
        color: $neutral-color;
      }
    }
  }

  > button, > button.action {
    margin: $margin-small $margin-smallest 0 $margin-smallest;
  }
}
