@import "work-includes";

timeline-messaging {
  display: block;

  .header {
    width: 100%;

    avatar {
      margin-left: $margin-small;
    }

    .name {
      @include flex-grow(2);

      text-align: left;
      margin-left: $margin-smallest;

      p {
        margin-top: 0;
      }

      .role {
        color: $neutral-color;
      }
    }
  }

  > button, > button.action {
    margin: $margin-small $margin-smallest 0 $margin-smallest;
  }
}
