@import "work-includes";

event-card.quote {
  main > * {
    margin-top: 30px;
  }

  .estimate {
    background-color: $primary-color;
    padding         : $padding-big;
    margin-top      : 30px;

    * {
      color: $white;
    }

    .splitter {
      width: 1px;
      background-color: $white;
    }

    .cost h6, .duration h6 {
      margin-top: $margin-smallest;
    }

    ul {
      margin-left : auto;
      margin-right: auto;
      max-width   : 400px;
      margin-top  : 20px;
    }
  }
}