@import "work-includes";

timeline-quote {
  p {
    margin: 30px;
  }

  .estimate {
    background-color: $primary-color;
    padding         : $padding-big;
    margin-top      : $margin-small;

    * {
      color: $white;
    }

    .splitter {
      width: 1px;
      background-color: $white;
    }

    h6 {
      margin-top: $margin-smallest;
    }

    ul {
      max-width : 400px;
      margin    : 0 auto;
      margin-top: 20px;
    }
  }
}