@import "work-includes";

timeline {
  display: block;

  h6 {
    color: $black;
  }

  h4{

    &.disabled {
      color: $neutral-color-light;
    }
  }

  > main.flex {
    position: relative;

    .timeline {
      width           : 2px;
      background-color: $neutral-color-light;
      margin          : $margin;
      margin-left     : 0;
    }

    > ul {
      width: 100%;

      .splitter {
        height: $margin-smallest;
      }
    }
  }

  .avatar {
    width         : 35px;
    height        : 35px;
    border-radius : 50%;
  }

  .avatar-box {
    avatar {
      margin-right: $margin-small;
    }

    .co-pilot {
      margin-top: 0;
    }
  }

  .point {
    background-color: $primary-color;
    border          : 1px solid $primary-color;
    width           : 24px;
    height          : 24px;
    border-radius   : 50%;
    position        : absolute;
    left            : -(24px/2) + 2px;
    text-align      : center;
    color           : $white;
    box-shadow      : 0 6px 6px -6px $neutral-color-dark;


    &::before {
      content    : '+';
      font-size  : 20px;
      font-family: arial;
      line-height: 24px;
    }

    &.expanded {
      &::before {
        content: "-";
        line-height: 14px;
      }
    }
  }

  .disabled {
    .point {
      background-color: $white;
      border-color: $neutral-color-light;

      &::before {
        display: none;
      }
    }

    > header {
      > h6 {
        color: $neutral-color;
      }
    }

    &.complete {
      height: 50px; /* need static height due to timeline line */

      h3 {
        color: $neutral-color;
      }

      .point {
        &::before {
          display: none;
        }
      }
    }
  }

  .event-group {
    background-color: $white;

    > header { /* simulate white padding */
      border          : $padding solid $white;
      background-color: $white;
    }

    &.expanded {
      h6 {
        font-weight: $font-weight-bold;
      }
    }

    .events {
      @include transition (all 0.3s ease-in-out);

      // uncomment for hide/show interaction
      max-height: 0px;
      overflow: hidden;

      > * { /* simulate white padding */
        border: $padding solid $white;

        &:last-child {
          border-bottom-width: $padding-big;
        }

        &.hr {
          border-top: 0;
        }

        background-color: $white;
      }

      > li {
        > hr {
          margin: 0;
          background-color: $neutral-color-lightest;
        }
      }

      .point {
        background-color: $neutral-color-lightest;
        color           : $primary-color;
        display         : none;
      }

      &.expanded {
        max-height: 700px;

        &.expand-big {
          max-height: 1400px;
        }

        .point {
          display: block;
        }
      }
    }
  }

  .complete {
    p {
      color: $primary-color;
    }

    .point {
      margin-top: $margin-smallest;
      background-color: $neutral-color-lightest;

      &::before {
        content         : "";
        display         : inline-block;
        background-color: $primary-color;
        width           : 8px;
        height          : 8px;
        border-radius   : 50%;
      }
    }
  }

  .event {
    text-align: center;

    time {
      display: block;
    }

    .avatar-box, p, button, .avatars {
      margin-top: $margin-small;

      &:first-child {
        margin-top: 0;
      }
    }

    &.finish {
      background-color: $primary-color;
      padding         : $padding;
      color           : $white;
      text-align      : center;
      border          : 0; /* remove simulated padding */

      time {
        color: $white;
      }
    }

    .avatars {
      li {
        margin-left: $margin-smallest;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
