@import "work-includes";
@import "variables";

timeline {
  display: block;

  .transition {
    overflow: hidden;
  }

  button.action, button.wider {
    margin-top: $vertical-spacing;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    &.inactive {
      color: $neutral-color-light;
    }
  }

  > main.flex {
    position: relative;

    .timeline {
      width           : 2px;
      background-color: $neutral-color-light;
      margin          : $vertical-spacing-big $horizontal-spacing $vertical-spacing-big 0;
    }

    > ul {
      width: 100%;

      > .splitter {
        height: 10px;
      }
    }
  }

  avatar {
    width         : 48px;
    height        : 48px;
    border-radius : 50%;
  }

  .avatar-box {
    avatar {
      margin-right: $margin-small;
    }

    .co-pilot {
      margin-top: 0;
    }
  }

  .point {
    width           : 24px;
    height          : 24px;
    position        : absolute;
    left            : -(24px/2) + 1px;
    border-radius   : 50%;
    background-color: $neutral-color-lightest;

    .icon {
      width: 100%;
      height: 100%;
    }

    .plus {
      display: block;
    }

    .minus {
      display: none;
    }

    &.expanded {
      .plus {
        display: none;
      }

      .minus {
        display: block;
      }
    }
  }

  .disabled {
    .point {
      background-color: $neutral-color-lightest;
      border: 1px solid $neutral-color;

      .icon.plus, .icon.minus {
        display: none;
      }
    }

    > header {
      > h5 {
        color: $neutral-color;
      }
    }

    &.complete {
      height: 50px; /* need static height due to timeline line */

      h3 {
        color: $neutral-color;
      }

      .point {
        &::before {
          display: none;
        }
      }
    }
  }

  .event-group {
    background-color: $white;

    > header { /* simulate white padding */
      border             : $horizontal-spacing solid $white;
      border-top-width   : $vertical-spacing-big;
      border-bottom-width: $vertical-spacing-small;
      background-color   : $white;
    }

    &.expanded {
      h5 {
        font-weight: $font-weight-boldest;
      }
    }

    .events {
      > * { /* simulate white padding */
        border: $horizontal-spacing-small solid $white;
        border-bottom-width: 0;
        border-top-width: 0;

        &:last-child {
          border-bottom-width: $vertical-spacing-big;
        }

        &.hr {
          border-top: 0;
        }

        background-color: $white;
      }

      > li {
        > hr {
          margin: 0;
          background-color: $neutral-color-light;

          &.biggest {
            background-color: $neutral-color-lightest;
          }
        }
      }

      .point {
        background-color: $neutral-color-lightest;
        display         : block;
      }

      &.no-height {
        .point {
          display: none;
        }
      }
    }
  }

  .complete {
    .completed-date {
      color: $primary-color;
    }

    .point {
      width           : 24px;
      height          : 24px;
      border          : 1px solid $neutral-color;
      border-radius   : 50%;
      margin-top      : $margin-smallest;
      background-color: $neutral-color-lightest;
    }
  }

  .event {
    &.finish {
      background-color: $primary-color;
      padding         : $padding;
      color           : $white;
      text-align      : center;
      border          : 0; /* remove simulated padding */

      * {
        color: $white;
      }
    }

    .avatars {
      li {
        margin-left: $margin-smallest;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
