@import "work-includes";

timeline {
  display         : block;
  padding         : $padding-big;
  background-color: $neutral-color-lightest;

  h2 {
    text-align: center;
  }

  > main {
    @include flex-center();
    @include align-items(stretch);
    @include flex-wrap(nowrap);

    margin-top: $margin;
    position: relative;

    .timeline {
      width: 2px;
      background-color: $neutral-color-light;
      margin: $margin;
      margin-left: 0;
    }

    > ul {
      width: 100%;

      .splitter {
        height: $margin-small;
      }
    }
  }

  .avatars, .files {
    @include flex-center(center);
  }

  .avatar {
    width         : 35px;
    height        : 35px;
    border-radius : 50%;
  }

  .avatar-box {
    @include flex-center(center);

    avatar {
      margin-right: $margin-small;
    }
  }

  .point {
    background-color: $primary-color;
    width           : 24px;
    line-height     : 24px;
    border-radius   : 50%;
    position        : absolute;
    left            : -(24px/2) + 2px;
    text-align      : center;
    color           : $white;
    font-size       : $font-size-big;
  }

  h1, h4 {
    margin-top: 0;
  }

  .event-group {
    background-color: $white;
    padding: $padding;

    > header {
      h4 {
        float: left;
      }

      time {
        display: block;
        float: right;
      }

      overflow: hidden;
    }

    .events {
      @include transition (all 0.3s ease-in-out);

      // uncomment for hide/show interaction
      max-height: 0px;
      overflow: hidden;
      position: relative;

      .point {
        display: none;
      }

      &.expanded {
        max-height: 750px;
        position: initial;

        .point {
          display: block;
        }
      }
    }
  }

  .complete {
    h1 {
      text-align: left;
    }

    p {
      color: $primary-color;
    }
  }

  .event {
    text-align: center;

    time {
      display: block;
      margin-top: $margin-smallest;
    }

    .avatar-box, p, button, .avatars {
      margin-top: $margin-small;
    }

    &.finish {
      background-color: $primary-color;
      padding         : $padding;
      color           : $white;
      text-align      : center;
    }

    .avatars {
      li {
        margin-left: $margin-smallest;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}