- dateFilter = '| date : "h:mma MMMM d, y"'

h1 Project Timeline

hr

ul
  include parts/submitted

  include parts/email

  include parts/co-pilot

  include parts/quote

  include parts/payment

  include parts/launched

  include parts/members

  include parts/comments

  include parts/messages

  include parts/submissions-due

  include parts/submissions

  include parts/final-submissions-due

  include parts/finalists

  include parts/finalists-selected

  include parts/winner

  include parts/final-feedback

  include parts/complete

