- dateFilter = '| date : "h:mma MMMM d, y"'

h1 Project Timeline

hr

ul
  include parts/project-submitted

  include parts/project-launched

  include parts/design-concepts

  include parts/final-designs

  include parts/final-fixes

  include parts/complete

