- dateFilter = '| date : "h:mma MMMM d, y"'
loader(ng-show="vm.loading")
h1 Project Timeline

hr

ul
  li.milestone.completed(
    ng-repeat-start="eventGroup in vm.eventGroups"
    ng-class="{ completed: vm.completed[eventGroup.text], expanded: vm.expanded[eventGroup.text] }"
    ng-click="vm.expanded[eventGroup.text] = !vm.expanded[eventGroup.text]"
  )
    section.checkpoint
      .progress
        .percent 0%

        .status Complete

        .day Day 1

      .lead

      button.clean.point

      .lead-after

      ul.headings
        li
          button.clean
            h4 {{eventGroup.text}}

        li
          time {{ eventGroup.createdTime | date }}

    hr

  li(ng-repeat-end ng-repeat="event in eventGroup.events track by $index")
    ul.events(ng-show="vm.expanded[eventGroup.text]")
      include parts/messages
      include parts/comment

      include parts/project-submitted/statusUpdate
      include parts/project-submitted/email
      include parts/project-submitted/payment
      include parts/project-submitted/copilot
      include parts/project-submitted/quote

      include parts/project-launched/members

      include parts/design-concepts/submissions
      include parts/design-concepts/winners

