li.milestone(ng-class="{ completed: vm.events.chooseWinner.created, passed: vm.events.chooseWinner.created }")
  section.checkpoint
    .progress
      .percent 50%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label
      h4 Choose Winner!

      time May 5, 2015

  hr

  a(href="", ng-show="vm.completed.finalists && !vm.completed.finalistsSelected") View submissions and select finalists
