li(
  ng-class="{ completed: 1, passed: 1, expanded: 1 }"
)
  section.checkpoint
    .progress
      .percent 5%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-show="1") Assign Co-Pilot

    label(ng-show="1") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="1") Co-Pilot Assigned
      time 12:30pm April 5 2015

  .avatar-box(ng-show="1")
    img.avatar(src="{{ vm.avatars[vm.coPilotHandle] }}")

    | Hi I'm 

    a(href="#") {{ vm.coPilotHandle }}

    |. I'll be your project manager.