ul.header.flex.center.middle
  li
    .icon.warning.smallest

  li
    avatar(avatar-url="{{event.threadInfo.lastMessageInfo.publisherInfo.avatar}}")

  li.name.flex-grow
    p
      a(href="#") {{event.threadInfo.lastMessageInfo.publisherInfo.handle}}

    p.role {{event.threadInfo.lastMessageInfo.publisherInfo.role}}

  li
    time {{event.threadInfo.lastMessageInfo.createdTime | timeLapse}}

hr

p {{event.threadInfo.lastMessageInfo.publisherInfo.handle}} has commented on {{event.submissionThreads.length}} submission images.

ul.submissions.flex.center
  li(ng-repeat="submission in event.submissionThreads")
    .notification.absolute {{submission.unreadMessageCount}}

    img.img(ng-src="{{submission.thumbnailUrl}}")

button.wider.view-all view all comments