div(ng-if="event.type == 'SUBMISSION_THREAD_INFO' && (eventGroup.text == 'Final Designs' || eventGroup.text == 'Design Concepts') ")
  ul.header
    li
      .icon

    li
      avatar(avatar-url="{{event.threadInfo.lastMessageInfo.publisherInfo.avatar}}")

    li.name
      p
        a(href="#") {{event.threadInfo.lastMessageInfo.publisherInfo.handle}}

      p.role Project Contributor

    li
      time {{event.threadInfo.lastMessageInfo.createdTime}}

  hr

  p {{event.threadInfo.lastMessageInfo.publisherInfo.handle}} has commented on {{event.submissionThumbnails.length}} submission images.

  ul.submissions
    li(ng-repeat="submission in event.submissionThumbnails")
      .notification {{event.threadInfo.unreadMessageCount}}

      .img(ng-src="submission")

  button.wider.view-all view all comments