ul.header.flex.center.middle
  li
    .icon.bubble.smallest

  li
    avatar(avatar-url="{{event.submitter.avatar}}")

  li.name.flex-grow
    p
      a(href="#") {{event.submitter.handle}}

    p.role {{event.submitter.role}}

  li
    time {{event.submissionThreads[event.submissionThreads.length - 1].lastMessageDate | timeLapse}}

main.transition(
  ng-if="event.submissionThreads.length > 0"
  ng-class="{ 'no-height': !vm.expanded[event.type] }"
  lock-height="no-height"
)
  hr

  p(ng-if="event.publishers.length == 1") {{event.publishers[0].handle}} has commented on {{event.submissionThreads.length}} submission images.

  p(ng-if="event.publishers.length == 2") {{event.publishers[0].handle}} and {{event.publishers[1]}} have commented on {{event.submissionThreads.length}} submission images.


  ul.submissions.flex.center
    li(ng-repeat="submission in event.submissionThreads track by $index")
      .notification.absolute(ng-if="submission.unreadMessageCount > 0") {{submission.unreadMessageCount}}

      a(ui-sref="file-detail({projectId: vm.workId, stepId: eventGroup.workStepId, submissionId: event.submissionId, fileId: submission.submissionFileId})")
        img.img(ng-src="{{submission.thumbnailUrl}}")

  button.wider.view-all(ui-sref="submission-detail({projectId: vm.workId, stepId: eventGroup.workStepId, submissionId: event.submissionId})") view all comments
