ul.header
  li
    .icon

  li
    avatar

  li.name
    p
      a(href="#") Bilbo Baggins

    p.role Project Contributor

  li
    time 4 days ago

hr

p Bilbo Baggins has commented on 3 submission images.

ul.submissions
  li
    .notification 10

    .img

  li
    .notification 10

    .img

  li
    .notification 10

    .img

button.wider.view-all view all comments