li.comment.no-progress.completed(ng-if="event.type == 'SUBMISSION_THREAD_INFO' ")
  section.checkpoint
    button.clean.point(ng-click="vm.showMessagingWidget = true")
      .notification {{ event.threadInfo.unreadMessageCount }}

      .icon.envelope.smallest

    .lead-after

    p
      avatar(ng-src="{{ event.threadInfo.lastMessage.avatar }}")

      | {{ event.threadInfo.lastMessage.handle }}

  p Ok, I'll give the yellow buttons at the top a try and see how it looks.

  ul.files
    li(ng-repeat="thumbnail in event.threadInfo.submissionThumbnails track by $index")
      img(ng-src="{{ thumbnail }} ")

  a(href="#") view message