li.milestone(ng-class="{ completed: vm.events.completed, passed: vm.events.completed }")
  section.checkpoint
    .progress
      .percent 100%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label
      h4 Project Complete

      time May 5, 2015

  hr
