div(ng-if="event.type == 'COPILOT_ASSIGNED' ")
  h1 Co-pilot assigned!

  time {{ event.eventTime | date}}

  main.avatar-box(ng-show="event.copilot.handle")
    avatar(url="{{ event.copilot.avatar }}")

    | Hi I'm 

    a(href="#") {{ event.copilot.handle }}

    |. I'll be your project manager.