h2 Co-pilot assigned

time {{ event.eventTime | timeLapse}}

main.transition.avatar-box.flex.center.middle(
  ng-show="event.copilot.handle"
  ng-class="{ 'no-height': !vm.expanded[event.type] }"
  lock-height="no-height"
)
  avatar(avatar-url="{{ event.copilot.avatar }}")

  p.co-pilot Hi I'm <a href="#"> {{ event.copilot.handle }} </a>. I'll be your project manager.