h1 Co-pilot assigned!

time {{ vm.events.assignCopilot.created }}

.avatar-box(ng-show="vm.events.assignCopilot.handle")
  avatar(url="{{ vm.events.assignCopilot.avatar }}")

  | Hi I'm 

  a(href="#") {{ vm.events.assignCopilot.handle }}

  |. I'll be your project manager.