h2 Co-pilot assigned!

time {{ event.eventTime | timeLapse}}

main.avatar-box(ng-show="event.copilot.handle")
  avatar(avatar-url="{{ event.copilot.avatar }}")

  | Hi I'm 

  a(href="#") {{ event.copilot.handle }}

  |. I'll be your project manager.