li.milestone(ng-class="{ completed: vm.events.designConcepts.created, passed: vm.events.designConcepts.created }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label
      h4 Design Concepts

      time {{ vm.events.designConcepts.created }}

  hr

include design-concepts/submissions

li.comment.no-progress.completed.passed(ng-repeat="comment in vm.events.designConcepts.comments track by $index")
  include comment

include design-concepts/winners