li.milestone(ng-class="{ completed: vm.events.submissions.created, passed: vm.events.submissions.created }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label
      h4 Design Concepts

      time {{ vm.events.submissions.created }}

  hr

include design-concepts/submissions

li.comment.messages.no-progress.completed.passed(ng-repeat="comment in vm.events.submissions.comments track by $index")
  include comment
