li(ng-class="{ completed: vm.completed.finalFeedback, passed: vm.passed.finalFeedback }")
  section.checkpoint
    .progress
      .percent 95%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.finalFeedback") Final Feedback

    label(ng-show="vm.completed.finalFeedback") Feedback given to 

      a(href="#") {{ vm.feedback2Handle }}

  p(ng-show="vm.completed.finalFeedback && !vm.completed.complete") Awaiting final design changes.