li.milestone(
  ng-class="{ completed: vm.events.finalDesigns.created, passed: vm.events.finalDesigns.created, expanded: vm.expanded.finalDesigns }"
  ng-click="vm.expanded.finalDesigns = !vm.expanded.finalDesigns"
)
  section.checkpoint
    .progress
      .percent 70%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label
      h4 Final Designs

      time {{ vm.events.finalDesigns.created }}

  hr

include final-designs/submissions

include final-designs/winners


