li.milestone(ng-class="{ completed: vm.events.finalSubmissions.created, passed: vm.events.finalSubmissions.created }")
  section.checkpoint
    .progress
      .percent 70%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label
      h4 Final Designs

      time {{ vm.events.finalSubmissions.created }}

  hr

include final-designs/submissions

include final-designs/winners


