div(ng-if="eventGroup.text == 'Final Fixes' && event.type == 'SUBMISSION_THREAD_INFO' ")
  h1 Final deliverables

  time {{event.eventTime | timeLapse }}

  p {{event.threadInfo.lastMessageInfo.content}}

  ul.submissions
    li(ng-repeat="submission in event.submissionThreads")
      .notification {{submission.unreadMessageCount}}

      .img(ng-src="submission.thumbnailUrl")

  button.action.wider view prototype

  button.wider share link