li.milestone(ng-class="{ completed: vm.completed.finalDesign, passed: vm.passed.finalDesign }")
  section.checkpoint
    .progress
      .percent 70%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label
      h4 Final Submissions Due

      time May 5, 2015

  hr