h2 Final deliverables

time {{event.eventTime | timeLapse }}

p {{event.threadInfo.lastMessageInfo.content}}

ul.submissions
  li(ng-repeat="submission in event.submissionThreads")
    img.img(ng-src="{{submission.thumbnailUrl}}")

button.action.wider view prototype

button.wider share link