li.no-progress.completed(ng-show="vm.completed.finalistsSelected", ng-class="{ passed: vm.passed.finalistsSelected }")
  section.checkpoint
    .point

    .lead-after

    label You selected 4 finalists
