div(ng-if="eventGroup.text == 'Final Fixes' && event.type == 'SUBMISSION_THREAD_INFO' ")
  h1 Final deliverables

  time {{event.createdTime | date }}

  p {{event.threadInfo.lastMessageInfo.content}}

  ul.submissions
    li(ng-repeat="submission in event.submissionThumbnails")
      .notification {{event.threadInfo.unreadMessageCount}}

      .img(ng-src="submission")

  button.action.wider view prototype

  button.wider share link