div(ng-if="event.type == 'MEMBER_REGISTRATION' ")
  h1 {{event.members.length}} people have joined your project

  time {{event.createdTime}}

  ul.avatars
    li(ng-repeat="member in event.members")
      avatar(avatar-url="{{member.avatar}}")