.flex.middle.center
  button.clean.point(
    ng-class="{ expanded: vm.expanded[event.type]}"
    ng-click="vm.expanded[event.type] = !vm.expanded[event.type]"
  )
    .icon.plus.hollow

    .icon.minus.hollow

  h2(ng-if="event.members.length == 1") {{event.members.length}} person has joined your project

  h2(ng-if="event.members.length > 1") {{event.members.length}} people have joined your project

time {{event.eventTime | timeLapse}}

event-card-main
  ul.avatars.flex.center
    li(ng-repeat="member in event.userProfiles track by $index")
      avatar(avatar-url="{{member.avatar}}")