h2(ng-if="event.members.length == 1") {{event.members.length}} person has joined your project

h2(ng-if="event.members.length > 1") {{event.members.length}} people have joined your project


time {{event.eventTime | timeLapse}}

ul.avatars.flex.center
  li(ng-repeat="member in event.members track by $index")
    avatar(avatar-url="{{member.avatar}}")