h2 {{event.members.length}} people have joined your project

time {{event.eventTime | timeLapse}}

ul.avatars.flex.center
  li(ng-repeat="member in event.members")
    avatar(avatar-url="{{member.avatar}}")