ul.header.flex.center.middle
  li
    .icon.envelope.smallest

  li
    avatar(avatar-url="{{event.lastMessageInfo.publisherInfo.avatar}}")


  li.name.flex-grow
    p
      a(href="#") {{event.lastMessageInfo.publisherInfo.handle}}


    p.role {{event.lastMessageInfo.publisherInfo.role}}

  li
    time {{event.eventTime | timeLapse}}

main
  hr

  p {{event.lastMessageInfo.content}}

  button.wider.action(ui-sref="messaging({ id: vm.workId, threadId: event.lastMessageInfo.threadId })") reply

