ul.header
  li
    .icon

  li
    avatar

  li.name
    p
      a(href="#") Bilbo Baggins

    p.role Project Contributor

  li
    time 4 days ago

hr

p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

textarea.wider(placeholder="Reply to this message")

button.wider.action reply

button.wider view all messages