li(ng-if="event.type == 'threadInfo' ")
  section.checkpoint
    button.point.count.clean(ng-click="vm.showMessagingWidget = true")
      .notification {{ event.unreadMessageCount }}

    .lead-after

    p
      avatar(url="{{ event.lastMessage.avatarUrl }}")

      | {{ event.lastMessage.content }}

  ul.links
    li
      button.clean(ng-click="vm.showMessagingWidget = true") View

    li
      a(ui-sref="messaging({ id: event.threadId })") View full thread

  .expandable-content(ng-class="{ active: vm.showMessagingWidget }")
    button.clean.close(ng-click="vm.showMessagingWidget = false") &times;

    messaging.widget(thread-id="{{ event.threadId }}" subscriber-id="Batman")

