ul.header.flex-center
  li
    .icon

  li
    avatar(avatar-url="{{event.lastMessageInfo.publisherInfo.avatar}}")


  li.name
    p
      a(href="#") {{event.lastMessageInfo.publisherInfo.handle}}


    p.role Project Contributor

  li
    time {{event.eventTime | timeLapse}}

hr

p {{event.lastMessageInfo.content}}

button.wider.action reply

