div(ng-if="event.type == 'THREAD_INFO' || event.type == 'SUBMISSION_THREAD_INFO' ")
  ul.header
    li
      .icon

    li
      avatar(
        ng-if="event.type == 'THREAD_INFO'"
        avatar-url="{{event.lastMessageInfo.publisherInfo.avatar}}"
      )

      avatar(
        ng-if="event.type == 'SUBMISSION_THREAD_INFO'"
        avatar-url="{{event.threadInfo.lastMessageInfo.publisherInfo.avatar}}"
      )


    li.name
      p
        a(ng-if="event.type == 'THREAD_INFO'" href="#") {{event.lastMessageInfo.publisherInfo.handle}}

        a(ng-if="event.type == 'SUBMISSION_THREAD_INFO'" href="#") {{event.threadInfo.lastMessageInfo.publisherInfo.handle}}


      p.role Project Contributor

    li
      time {{event.createdTime}}

  hr

  p(ng-if="event.type == 'THREAD_INFO'") {{event.lastMessageInfo.content}}

  p(ng-if="event.type == 'SUBMISSION_THREAD_INFO'") {{event.threadInfo.lastMessageInfo.content}}


  textarea.wider(placeholder="Reply to this message")

  button.wider.action reply

  button.wider view all messages