li.notification.messages.no-progress.completed.passed(ng-repeat="message in vm.events.launch.messages track by $index")
  section.checkpoint
    .point.icon
      button.count.clean(ng-click="vm.showMessagingWidget = true")
        .notification {{ message.notification }}

    .lead-after

    label
      avatar(url="{{ message.avatar }}")

      | {{ message.message }}

  ul.links
    li
      button.clean(ng-click="vm.showMessagingWidget = true") View

    li
      a(ui-sref="messaging({ id: message.threadId })") View full thread

  .expandable-content(ng-class="{ active: vm.showMessagingWidget }")
    button.clean.close(ng-click="vm.showMessagingWidget = false") x

    messaging.widget(thread-id="{{ message.threadId }}" subscriber-id="Batman")
