ul.header.flex.center.middle
  li
    .icon.envelope.smallest

  li
    avatar(avatar-url="{{event.lastMessageInfo.publisherInfo.avatar}}")


  li.name
    p
      a(href="#") {{event.lastMessageInfo.publisherInfo.handle}}


    p.role Project Contributor

  li
    time {{event.eventTime | timeLapse}}

main
  hr

  p {{event.lastMessageInfo.content}}

  button.wider.action reply

