div(ng-if="event.type == 'THREAD_INFO' ")
  ul.header
    li
      .icon

    li
      avatar(avatar-url="{{event.lastMessageInfo.publisherInfo.avatar}}")


    li.name
      p
        a(href="#") {{event.lastMessageInfo.publisherInfo.handle}}


      p.role Project Contributor

    li
      time {{event.eventTime | timeLapse}}

  hr

  p {{event.lastMessageInfo.content}}

  textarea.wider(placeholder="Reply to this message")

  button.wider.action reply

  button.wider(ui-sref="messaging({ id: event.threadId })") view all messages