li(ng-class="{ completed: vm.completed.payment, passed: vm.passed .payment}")
  section.checkpoint
    .progress
      .percent 20%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.payment") Add Payment Method

    label(ng-show="vm.completed.payment") Payment Method Accepted.
