div(ng-if="event.type == 'PAYMENT_ADDED' && !event.eventTime ")
  h1 Add payment method

  time {{event.eventTime | timeLapse}}

  p Add a payment method to launch your project.

  button.action.wider add payment method