li.milestone(
  ng-class="{ completed: vm.events.launch.created, passed: vm.events.launch.created, expanded: vm.expanded.launched }"
  ng-click="vm.expanded.launched = !vm.expanded.launched"
)
  section.checkpoint
    .progress
      .percent 25%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label
      h4 Project Launched

      time {{ vm.events.launch.created }}

  hr

include project-launched/members

include messages
