li.quote(ng-class="{ completed: vm.completed.quote, passed: vm.passed.quote}")
  section.checkpoint
    .progress
      .percent 15%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.completed.quote") Generate Quote

    label(ng-show="vm.completed.quote")
      .carat

      | Quote has been generated.

  p(ng-show="vm.completed.quote && !vm.completed.payment")
    a(href="#") View quote and pay to continue.

  .expandable-content
    button(type="button").clean.close x

    ul
      li
        label Cost:
        | 
        | $12,000

      li
        label Time:
        | 
        | 21 Days

    ul
      li.accept
        button.info Accept

      li
        button Reject

