div(ng-if="event.type == 'QUOTE_INFO' ")
  h1 Quote generated

  time {{event.createdTime}}

  main
    p Your project has been reviewed and a quote has been generated.

    button.action.wider view quote