div(ng-if="event.type == 'SUBMISSION_THREAD_INFO' && eventGroup.text == 'Development Begins' ")
  h1 {{eventGroup.createdTime | date : 'MMMM d' }} status report

  time {{eventGroup.createdTime | timeLapse}}

  p {{event.threadInfo.lastMessageInfo.content}}

  ul.submissions
    li(ng-repeat="submission in event.submissionThumbnails")
      .notification {{event.threadInfo.unreadMessageCount}}

      .img(ng-src="submission")

  button.action.wider view prototype

  button.wider share link