h2(ng-if="event.avatars.length == 1") {{event.avatars.length}} person has submitted Designs

h2(ng-if="event.avatars.length > 1") {{event.avatars.length}} people have submitted Designs

time {{eventGroup.createdTime | timeLapse}}

ul.avatars.flex.center
  li(ng-repeat="avatar in event.avatars")
    avatar(avatar-url="avatar")