li.milestone(ng-class="{ completed: vm.events.submissions.created, passed: vm.events.submissions.created }")
  section.checkpoint
    .progress
      .percent 55%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label
      h4 Submissions Due

      time {{ vm.events.submissions.created }}

  hr