h1(ng-if="event.userProfiles.length == 1") {{event.userProfiles.length}} person has submitted Designs

h1(ng-if="event.userProfiles.length > 1") {{event.userProfiles.length}} people have submitted Designs

time {{event.eventTime | timeLapse}}

ul.avatars.flex.center
  li(ng-repeat="user in event.userProfiles track by $index")
    avatar(avatar-url="{{user.avatar}}")

p(ng-if="event.completed == false") 48 hours left to select your winners

main(ng-if="event.completed == false")
  button.wider(ui-sref="step({projectId: vm.workId, stepId: eventGroup.workStepId})") view submissions