div(ng-if="event.type == 'WORKSTEP_SUBMITTERS' ")
  h1 {{event.avatars.length}} people have submitted Designs

  time {{eventGroup.createdTime | date}}

  ul.avatars
    li(ng-repeat="avatar in event.avatars")
      avatar(avatar-url="avatar")