@import "work-styles";

.layout-main {
  background-color: $neutral-color-lightest;
  padding: $padding-big;
}

body > .nav {
  @include flex-center(flex-start, $spacing);

  a {
    color: white;
    margin: 10px;
    display: inline-block;
  }
}