- dateFilter = '| date : "h:mma MMMM d, y"'

h1 Project Timeline

hr

ul
  include parts/submitted

  include parts/email

  include parts/quote

  include parts/payment

  include parts/co-pilot

  include parts/launched

  include parts/messages

  include parts/joined

  include parts/submissions

  include parts/feedback

  include parts/checkpoint-1

  include parts/finalists

  include parts/finalists-selected

  include parts/final-design

  include parts/winner

  include parts/final-feedback

  include parts/complete

