li.completed.no-progress
  section.checkpoint
    .point

    .lead-after

    p
      avatar(avatar-url="{{ vm.events.finalFixes.winnerAvatar }}")

      | Congratulations! Your project has been completed successfully.