li.completed.no-progress.passed
  section.checkpoint
    .point

    .lead-after

    label
      avatar(ng-src="{{ submisison['avatar'] }}")

      | Congratulations your project has been completed successfully.