li.completed.no-progress.passed
  section.checkpoint
    .point

    .lead-after

    label
      avatar(avatar-url="{{ vm.events.finalFixes.winnerAvatar }}")

      | Congratulations your project has been completed successfully.