li.completed.no-progress.passed(
  ng-show="vm.expanded.finalFixes"
)
  section.checkpoint
    .point

    .lead-after

    label
      avatar(avatar-url="{{ vm.events.finalFixes.winnerAvatar }}")

      | Congratulations! Your project has been completed successfully.