li.submissions.completed.no-progress
  section.checkpoint
    a(href="{{ vm.events.finalFixes.submissionUrl }}")
      button.point.count.clean(ng-click="vm.showMessagingWidget = true" title="download files")
        .icon.download.smallest

    .lead-after

    avatar(avatar-url="{{  vm.events.finalFixes.submissionAvatar }}")

  p 1 person has submitted final fixes to your project.

  p
    a(href="#") View all submissions